.header{
    padding: 5xp, 20xp;
    padding-top: 10px;
    background: black;
}

.title{
    color:aliceblue;
    text-decoration: none;
    font-family: BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login, .register, .logout{
    float: right;
    text-decoration: none;
    color: aliceblue;
}


