<div class="col-md-2">
<h1 class="user">Hello, {{currentUsername}}! </h1></div><br><br>

  <div class="row">
      <div class="column">
        <div class="search">
            <h2 class="title"> Stream video</h2>
                <input [(ngModel)]="videoName"/>
                <button class="btn btn-lg btn-primary" (click)="search()">Go!</button>
        </div>
      </div>
      <div class="column">
        <div class="card"><div class="col-md-40">
            <h2> Videostream</h2>
            <table class="table table-striped">
                <tbody>
                    <tr *ngFor="let video of videos">
                      <td><span class="badge">{{video.videoName}}</span></td>
                    </tr>
                </tbody>
            </table>
            </div></div>
      </div>

      </div>
